body { 
    padding-top: 65px; 
}
#login.container {
	width: 400px;
}
#subscribe.container {
	width: 400px;
}
#mainProjects {
	height: 250px;
}
.hero-unit {
	padding:25px;
}
.avatar {
	height: 25px;
	width: 25px;
}
#project ul.inline {
	overflow: auto;
	min-height: 50px;
}
#readNotif {
	display: none;
}
#addRecompense {
	display: none;
}
#rezQuery {
	display: none;
}