@main("À propos") {
	<h1>À propos</h1>
	<p>Le site Ressuscite Mon Projet voit le jour en 2013 lorsque deux élèves de l'Ensimag, Adrien HAMRAOUI et Ismael EL ATIFI, décident de créer une plateforme en ligne pour sauver le devenir de projets logiciels.
	Vous avez commencé à développer un logiciel opensource et n'avez pas assez de temps pour l'avancer comme vous le souhaiteriez ?
	Ressuscite Mon Projet vous permet de déposer votre projet pour qu'il soit visible par notre communauté d'utilsateurs.
	Quiconque peut après inscription déposer un projet. Un membre du site est alors autorisé à :
	</p>
	<ul>
		<li>soutenir/suivre le projet (un peu comme le "like" de Facebook ou le "follow" de Twitter).</li>
		<li>attribuer une récompense au projet (somme d'argent). Cette récompense sera verser à la personne qui aura repris et terminé le projet.</li>
		<li>contribuer au projet lorsqu'il sera repris. Cela signifie participer au développement du logiciel.</li>
		<li>ressusciter/reprendre le projet. Une seule personne est choisie pour reprendre un projet.</li>
	</ul>
}