@admin("projets") {
<table>
	<tr>
		<th>Nom</th>
		<th>Followers</th>
		<th>Récompenses</th>
		<th>Contributeurs</th>
		<th>Etat</th>
	</tr>
	@for(project <- Project.find.all()) {
		<tr>
			<td><a href="/projects/view/@project.id">@project.name</a></td>
			<td>@project.followers.size()</td>
			<td>@project.rewards.size()</td>
			<td>@project.contributors.size()</td>
			<td id="modifyprojectstate@project.id">
				<a href="#" onclick="modifyProjectState(@project.id)">
			@if(project.currentState == Project.enumStates.AWAITINGVALIDATION) {
				<span class="label">En attente de validation</span>
			} else {
				@if(project.currentState == Project.enumStates.AWAITINGRES) {
					<span class="label label-warning">En attente de résurrection</span>
				} else {
 					@if(project.currentState == Project.enumStates.REFUSED) {
						<span class="label label-important">Refusé</span>
					} else {
						<span class="label label-success">Ressuscité !</span>
					}
				}
			}
				<i class="icon-edit"></i>
			</td>
		</tr>
    }
</div>
}
