@(category: Category)
@main("Catégorie " + category.name) {
		<h2>Catégorie : @category.name</h2>
<div class="row-fluid">
        <div class="span3 well sidebar-nav">
			<ul class="nav nav-list">
				<li><a href="/projects">Les meilleurs projets</a></li>
				<li><a href="/projects/all">Tous les projets</a></li>
				<li class="nav-header">Catégories</li>
				@for(category <- Category.find.all()) {
					<li><a href="/projects/category/@category.id">@category.name</a></li>
				}
				<li class="nav-header">Règle de tri</li>
				<li><a href="/projects/category/@category.id/sort/date">Les + récents</a></li>
				<li><a href="/projects/category/@category.id/sort/followers">Les + soutenus</a></li>
				<li><a href="/projects/category/@category.id/sort/rewards">Les + financés</a></li>
			</ul>
        </div><!--/span-->
        <table class="table span9">
        	<tr>
        		<th>Nom</th>
        		<th>Followers</th>
        		<th>Récompenses</th>
        		<th>Contributeurs</th>
        		<th>État</th>
        	</tr>
        	@for(project <- category.projects) {
        		@if(project.currentState == Project.enumStates.AWAITINGRES || project.currentState == Project.enumStates.RES) {
        			<tr>
        				<td><a href="/projects/view/@project.id">@project.name</a></td>
        				<td>@project.followers.size()</td>
        				<td>@project.rewards.size()</td>
        				<td>@project.contributors.size()</td>
    					<td>
						@if(project.currentState == Project.enumStates.AWAITINGVALIDATION) {
							<span class="label">En attente de validation</span>
	  					} else {
							@if(project.currentState == Project.enumStates.AWAITINGRES) {
								<span class="label label-warning">En attente de résurrection</span>
							} else {
			 					@if(project.currentState == Project.enumStates.REFUSED) {
									<span class="label label-important">Refusé</span>
								} else {
									<span class="label label-success">Ressuscité !</span>
								}
							}
						}
  					</td>
        			</tr>
        		}
            }
        </div>
</div>
}
