@(mostFollowed: Project)(mostRewarded: Project)(mostRecent: Project)
@main("Les meilleurs projets") {
<h1>Les meilleurs projets</h1>
<div class="row-fluid">
      <div class="span3 well sidebar-nav">
        <ul class="nav nav-list">
        	<li><a href="/projects/all">Tous les projets</a></li>
        	<li class="nav-header">Catégories</li>
        	@for(category <- Category.find.all()) {
        		<li><a href="/projects/category/@category.id">@category.name</a></li>
        	}      		
        </ul>
    </div><!--/span-->
    <div class="span9">
		<div class="hero-unit">
			<h2>Projet le + soutenu</h2>
			@if(mostFollowed != null) {
			<div class="thumbnail">
					<img  src="@routes.Assets.at("img/categories/")@{mostFollowed.category.getImageName}.png" alt="mostFollowed-img-@mostFollowed.name" />
					<h4>@mostFollowed.name</h4>
					<a href="/projects/view/@mostFollowed.id">Voir le projet</a>
			</div>
			}
		</div>
		<div class="hero-unit">
			<h2>Projet le + financé</h2>
			@if(mostRewarded != null) {
				<div class="thumbnail">
					<img  src="@routes.Assets.at("img/categories/")@{mostRewarded.category.getImageName}.png" alt="mostRewarded-img-@mostRewarded.name" />
					<h4>@mostRewarded.name</h4>
					<a href="/projects/view/@mostRewarded.id">Voir le projet</a>
			</div>
			}
		</div>
		<div class="hero-unit">
			<h2>Projet le + récent <span class="badge badge-info">@mostRecent.creationDate.format("dd/MM/YY")</span></h2>
			@if(mostRecent != null) {
			<div class="thumbnail">
					<img  src="@routes.Assets.at("img/categories/")@{mostRecent.category.getImageName}.png" alt="mostRecent-img-@mostRecent.name" />
					<h4>@mostRecent.name</h4>
					<a href="/projects/view/@mostRecent.id">Voir le projet</a>
			</div>
			}
		</div>
    </div>
</div>	
}
