@(bestProjects: List[Project])
@main("Accueil") {
<div class="hero-unit">
	<h2>Bienvenue !</h2>
	<p>
		Grâce à lui vous pouvez enfin faire revivre votre projet !<br/>  	
	</p>
	<p>
		<a href="/about" class="btn btn-primary btn-large">En savoir plus</a>
		@if(session.get("usermail") == null) {
			<a href="/subscribe" class="btn btn-primary btn-large">M'inscrire</a>
		} else {
			<a href="/projects/post" class="btn btn-primary btn-large">Déposer un projet</a>
		}
	</p>	
	<p>
		<a href="/projects">Voir tous les projets</a>
	</p>
	
</div>
<h1>Les projets du mois</h1>
<div id="mainProjects" class="carousel slide">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<!-- Carousel items -->
	<div class="carousel-inner">
		@defining(bestProjects.get(0)) { project =>
			<div class="item container active">
				<img src="@routes.Assets.at("img/categories/")@{project.category.getImageName}.png" alt="project-img-@project.name" />
				<div class="carousel-caption">
					<h4>@project.name</h4>
					<a href="/projects/view/@project.id">Voir le projet</a>
				</div>
			</div>
		}
		@{var i  = bestProjects.remove(0)}
		@for(project <- bestProjects) {
		  	<div class="item container">
				<img src="@routes.Assets.at("img/categories/")@{project.category.getImageName}.png" alt="project-img-@project.name" />
				<div class="carousel-caption">
					<h4>@project.name</h4>
					<a href="/projects/view/@project.id">Voir le projet</a>
				</div>
			</div>
		}
	</div>
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#mainProjects" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#mainProjects" data-slide="next">&rsaquo;</a>
</div>        
}
