@main("Connexion") {
<div class="container" id="login">
	user(at)user.com / user
	<form class="form-signin" action="/login?redirect=@request.path()" method="post">
    	<h2 class="form-signin-heading">Me connecter</h2>
    	<input type="email" name="email" class="input-block-level" placeholder="Adresse Email">
    	<input type="password" name="password" class="input-block-level" placeholder="Mot de passe">
    	<a href="/subscribe">Pas encore inscrit ?</a><br/>
    	<button class="btn btn-large btn-primary" type="submit">Connexion</button>
	</form>

</div> <!-- /container -->
}
