@(project: Project)
@main("Gérer les demandes de résurrection de " + project.name) {
<h2>Demandes de résurrection pour @project.name</h2>
@for(propRes <- RezQuery.find.where().eq("project.id", project.id).findList()) {
	<div id="propRes@propRes.id">
		<div class="well">
			<div class="row">
				<div class="span8">
					<h4><a href="/user/@propRes.user.pseudo">@propRes.user.pseudo</a></h4>
					<p>@propRes.motivation</p>
				</div>
				<div class="span2">
					<a href="/projects/setresurrector/@propRes.id" class="btn btn-primary">Valider</a>
				</div>
			</div>
		</div>
	</div>
}
}
