@(user: User)
@myaccount(user) {
<h1>Mes demandes de reprise</h1>
@for(propRes <- RezQuery.find.where().eq("user.email", user.email).findList()) {
	<div id="propRes@propRes.id">
		<div class="well">
			<div class="row">
				<h4><a href="/projects/view/@propRes.project.id">@propRes.project.name</a></h4>
				<form class="form-inline" method="post" action="/projects/modifyrez/@propRes.id">
					<textarea rows="10" class="input-block-level" id="motivations" name="motivations">@propRes.motivation</textarea><br/>
					<button type="submit" class="btn btn-primary">Modifier ma demande</button>
					<a href="/projects/deleterez/@propRes.id" class="btn btn-danger">Supprimer ma demande</a>
				</form>
			</div>
		</div>
	</div>
}
}
