@(user: User)(content: Html)
@main("Mon Compte") {
<div class="row-fluid">
	<div class="span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<li class="nav-header">Actions</li>
				<li><a href="/myaccount/info">Mon compte</a></li>
				<li><a href="/myaccount/notifications">Mes notifications (<span class="notifcounter">@Notification.find.where().eq("read", "false").eq("recipient", user).findList().size()</span>)</a></li>
				<li><a href="/myaccount/myprojects">Mes projets</a></li>
				<li><a href="/myaccount/myfollowedprojects">Mes projets suivis</a></li>
				<li><a href="/myaccount/contributions">Mes propositions de contribution</a></li>
				<li><a href="/myaccount/myqueries">Mes demandes de reprise</a></li>
				<li><a href="/myaccount/resurrected">Les projets que j'ai ressucité</a></li>
				@if(user.isAdmin) {
					<li class="nav-header">Administration</li>
					<li><a href="/admin/projects">Gérer les projets</a></li>
				}
			</ul>
		</div><!--/.well -->
	</div><!--/span-->
	<div class="span9">
		@content
	</div>
</div>
}
