@(user: User)
@myaccount(user) {
<h1>Mes notifications (<span class="notifcounter">@Notification.find.where().eq("read", "false").eq("recipient", user).findList().size()</span>)</h1>
	
<ul class="nav nav-pills">
	<li id="unreadButton" class="active"><a href="#" onclick="seeUnread()">Non lus</a></li>
	<li id="readButton" ><a href="#" onclick="seeRead()">Lus</a></li>
</ul>
<div id="unreadNotif">
	@for(notification <- Notification.find.where().eq("read", "false").eq("recipient", user).orderBy("date desc").findList()) {
		<div id="notification@notification.id">
			<div class="well">
			<div class="row">
				<div class="span9">  				
					<h4>@notification.subject</h4>
					<p class="label label-info">@notification.date</p>
					<p>@notification.message</p>
				</div>
				<div class="span3">
					<a href="#" onclick="markNotifAsRead(@notification.id)" class="markasreadlink"><i class="icon-ok"></i>Marquer comme lu</a><br/>
					<a href="#" onclick="removeNotif(@notification.id)"><i class="icon-remove"></i>Supprimer</a>
				</div>
			</div>
			</div>
		</div>
	}
</div>
<div id="readNotif">
	@for(notification <- Notification.find.where().eq("read", "true").eq("recipient", user).orderBy("date desc").findList()) {
		<div class="well" id="notification@notification.id">
			<div class="row">
				<div class="span9">  				
					<h4>@notification.subject</h4>
					<p class="label label-info">@notification.date</p>
					<p>@notification.message</p>
				</div>
				<div class="span3">
					<a href="#" onclick="removeNotif(@notification.id)"><i class="icon-remove"></i>Supprimer</a>
				</div>
			</div>
		</div>
	}
</div>
<script src="@routes.Assets.at("javascripts/notifications.js")" type="text/javascript"></script>
}
