@(user: User)
@myaccount(user) {
<h1>Mes projets suivis</h1>
<table class="table">
	<tr>
	<th>Catégorie</th>
	<th>Nom</th>
	<th>État</th>
	</tr>
	@for(project <- user.projectsFollowed) {
		<tr>
			<td><a href="/projects/category/@project.category.id">@project.category.name</a></td>
			<td><a href="/projects/view/@project.id"> @project.name</a></td>			
			<td>
			@if(project.currentState == Project.enumStates.AWAITINGVALIDATION) {
				<span class="label">En attente de validation</span>
			} else {
				@if(project.currentState == Project.enumStates.AWAITINGRES) {
					<span class="label label-warning">En attente de résurrection</span>
				} else {
	 				@if(project.currentState == Project.enumStates.REFUSED) {
						<span class="label label-important">Refusé</span>
					} else {
						<span class="label label-success">Ressuscité !</span>
					}
				}
			}
			</td>
		</tr>
	}
</table>
}
