@(user: User)
@myaccount(user) {
<h1>Mon compte</h1>
<img  class="avatar" src="@user.getAvatarLink()" alt="avatar"/>
<form class="form-signin" action="/myaccount/info" method="post">
	<label for="pseudo">Pseudo</label>
	<input type="text" readonly="yes" name="pseudo" class="input-block-level" value="@user.pseudo">
	<label for="email">Email</label>
	<input type="email" readonly="yes" name="email" class="input-block-level" value="@user.email">
	<label for="website">Site web</label>
	<input type="text" name="website" class="input-block-level" value="@user.webPage">
	<label for="password">Mot de passe</label>
	<input type="password" name="password" class="input-block-level">
	<label for="validatepassword">Validez votre mot de passe</label>
	<input type="password" name="validatepassword" class="input-block-level">
	<button class="btn btn-large btn-primary" type="submit">Modifier mes informations</button>
</form>
}
