@(user: User)
@myaccount(user) {
<h1>Les projets que j'ai ressucité</h1>
<table class="table">
	<tr>
	<th>Catégorie</th>
	<th>Nom</th>
	</tr>
	@for(project <- user.projectsResurrected) {
		<tr>
			<td><a href="/projects/category/@project.category.id">@project.category.name</a></td>
			<td><a href="/projects/view/@project.id"> @project.name</a></td>
		</tr>
	}
</table>
}
