@main("Déposer un projet") {
<div class="container" id="postproject">
	<h2 class="form-subscribe-heading">Déposer un projet</h2>
	<form class="form-subscribe" action="/projects/post" method="post">
		<input type="text" class="input-block-level" name="name" placeholder="Nom du projet">
		<select name="category-id" size="1">
        	@for(category <- Category.find.all()) {
        		<option value="@category.id">@category.name</option>
        	}
		</select>
		<textarea class="input-block-level" name="description">Entrez une description</textarea>
		<input type="text" class="input-block-level" name="website" placeholder="Site web du projet">
		<button class="btn btn-large btn-primary" type="submit">Déposer mon projet</button>
	</form>
</div>
}
