@main("Inscription") {
<div class="container" id="subscribe">
	<h2 class="form-subscribe-heading">M'inscricre</h2>
	<form class="form-subscribe" action="/subscribe" method="post">
		<input type="email" class="input-block-level" name="email" placeholder="Adresse Email">
		<input type="text" class="input-block-level" name="pseudo" placeholder="Pseudo">
		<input type="password" class="input-block-level" name="password" placeholder="Mot de passe">
		<input type="password" class="input-block-level" name="password2" placeholder="Répétez le mot de passe">
		<input type="text" class="input-block-level" name="webpage" placeholder="Ma page web">
		<button class="btn btn-large btn-primary" type="submit">M'inscrire</button>
	</form>
</div>
}
