@(project: Project)(user: User)

@main(project.name) {
	<span><a href="/projects/category/@project.category.id">Retour à la catégorie @project.category.name</a></span>
	<h1>
		@project.name
		<span>
		@if(project.currentState == Project.enumStates.AWAITINGVALIDATION) {
			<span class="label">En attente de validation</span>
  		} else {
			@if(project.currentState == Project.enumStates.AWAITINGRES) {
				<span class="label label-warning">En attente de résurrection</span>
			} else {
 				@if(project.currentState == Project.enumStates.REFUSED) {
					<span class="label label-important">Refusé</span>
				} else {
					<span class="label label-success">Ressuscité !</span>
				}
			}
		}
		</span>
	</h1>

	@if(session.get("usermail") != null && project.currentState != Project.enumStates.AWAITINGVALIDATION && project.currentState != Project.enumStates.REFUSED ) {
		<div class="navbar">
			<div class="navbar-inner">
				<ul class="nav">
					@if(session.get("usermail") == project.creator.email) {
						  <li><a href="/projects/modify/@project.id">Modifier le projet</a></li>
						  @if(project.currentState == Project.enumStates.AWAITINGRES) {
						  	<li><a href="/projects/managerez/@project.id">Voir les demandes de reprises</a></li>
						  }
						  <li><a href="/projects/addreward/@project.id">Offrir une récompense</a></li>
					} else {
						  @if(!project.followers.contains(user)) {
						  	<li><a href="/projects/follow/@project.id">Supporter le projet</a></li>
						  } else {
						  	<li><a href="/projects/unfollow/@project.id">Ne plus supporter le projet</a></li>
						  }
						  <li><a href="#" onClick="showRewardForm()">Offrir une récompense</a></li>
							@if(RezQuery.find.where().eq("user", user).eq("project", project).findUnique() == null) {
								@if(!project.contributors.contains(user)) {
									<li><a href="/projects/contribute/@(project.id)">Se porter volontaire pour le projet</a></li>
								} else {
									<li><a href="/projects/uncontribute/@project.id">Ne plus se porter volontaire pour le projet</a></li>
								}
								@if(project.currentState == Project.enumStates.AWAITINGRES) {
									<li><a href="#" onclick="showRezQueryForm()">Devenir repreneur du projet</a></li>
								}
							} else {
								@if(project.currentState == Project.enumStates.AWAITINGRES) {
									<li><a href="#" onclick="showRezQueryForm()">Modifier ma demande de reprise</a></li>
								}
							}
						}
					@if(project.resurrector != null && session.get("usermail") == project.resurrector.email) {
						<li><a href="/projects/cancelrez/@project.id">Annuler la résurrection</a></li>				
					}
				</ul>
			</div>
		</div>
		<div id="addRecompense" class="well">
			<form class="form-inline" method="post" action="/projects/addreward/@project.id/">
			Je veux offrir une récompense de 
			<input class="input-small" type="number" name="amount" size="3" id="amount"/> 
			pour ce projet. <button type="submit" class="btn btn-primary">Offrir !</button>
			<a href="#" class="btn" onclick="hideRewardForm()">Annuler</a>
			</form>
		</div>
		<div id="rezQuery" class="well">
			@if(RezQuery.find.where().eq("user", user).eq("project", project).findUnique() == null) {
				<form class="form-inline" method="post" action="/projects/addrez/@project.id">
				<textarea rows="10" class="input-block-level" id="motivations" name="motivations"></textarea><br/>
				<button type="submit" class="btn btn-primary">Envoyer ma demande</button>
				<a href="#" class="btn" onclick="hideRezQueryForm()">Annuler</a>
				</form>
			} else {
				@defining(RezQuery.find.where().eq("user", user).eq("project", project).findUnique()) { rezquery =>
				<form class="form-inline" method="post" action="/projects/modifyrez/@rezquery.id">
				<textarea rows="10" class="input-block-level" id="motivations" name="motivations">@rezquery.motivation</textarea><br/>
				<button type="submit" class="btn btn-primary">Modifier ma demande</button>
				<a href="/projects/deleterez/@rezquery.id" class="btn btn-danger">Supprimer ma demande</a>
				<a href="#" class="btn" onclick="hideRezQueryForm()">Annuler</a>
				</form>
				}
			}
		</div>
    }
	<div class="row" id="project">
		<div class="span6">
			<h2>Description du projet</h2>
			<p>@project.description</p>
			<h4>Créateur</h4>
			<img class="avatar" src="@project.creator.getAvatarLink()" alt="avatar"/> <a href="/user/@project.creator.pseudo">@project.creator.pseudo</a>
			<h4>Date d'apparition sur le site</h4>
			@project.creationDate.format("dd/MM/YY")
			<h4>Site web du projet</h4>
			@project.website
			@if(project.resurrector != null) {
				<h4>Ressusciteur</h4>
				<img class="avatar" src="@project.resurrector.getAvatarLink()" alt="avatar"/> <a href="/user/@project.resurrector.pseudo">@project.resurrector.pseudo</a>
			}
		</div>
		<div class="span6">
			<h3>
			@{
			var size: Integer = project.followers.size()
			if(size <= 1)
				size + " personne supporte le projet"
			else
				size + " personnes supportent le projet"
			}
			</h3>
		<div>
			<ul class="inline">
			@for(user <- project.followers) {
				<li>
					<img class="avatar" src="@user.getAvatarLink()"/> <a href="/user/@user.pseudo">@user.pseudo</a>
				</li>
			}
			</ul>
		</div>
		<h3>
		@{
			var size: Integer = project.rewards.size()
			if(size <= 1)
				size + " récompense"
			else
				size + " récompenses"
		}
		</h3>
		<div>
			<ul class="inline" id="rewards">
			@for(reward <- project.rewards) {
				<li>
					<a href="#"><img class="avatar" src="@reward.rewarder.getAvatarLink()"/><a href="/user/@reward.rewarder.pseudo" onclick="$(this).popover('toggle')">@reward.rewarder.pseudo</a></a>
					: @reward.amount
				</li>
			}
			</ul>
		</div>
		<h3>
		@{
			var size: Integer = project.contributors.size()
			if(size <= 1)
				size + " contributeur pour le projet"
			else
				size + " contributeurs pour le projet"
		}
		</h3>
		<div>
			<ul class="inline">
			@for(user <- project.contributors) {
				<li>
					<img class="avatar" src="@user.getAvatarLink()"/> <a href="/user/@user.pseudo">@user.pseudo</a>
				</li>
			}
			</ul>
		</div>
	</div>
	</div>
	<script src="@routes.Assets.at("javascripts/viewproject.js")" type="text/javascript"></script>
}
