@(user: User)
@main(user.pseudo) {
	<h1><img  class="avatar" src="@user.getAvatarLink()" alt="avatar"/> @user.pseudo</h1>
	
	@if(! user.projectsCreated.isEmpty()) {
		<h3>Les projets qu'il a déposés :</h3>
		<ul class="inline">
			@for(project <- user.projectsCreated) {
				@if(project.currentState != Project.enumStates.AWAITINGVALIDATION
				 && project.currentState != Project.enumStates.REFUSED) {
					<li>
						<a href="/projects/view/@project.id">@project.name</a>
					</li>
				}
			}
		</ul>
	}
	
	@if(! user.projectsFollowed.isEmpty()) {
		<h3>Les projets qu'il suit :</h3>
		<ul class="inline">
			@for(project <- user.projectsFollowed) {
				@if(project.currentState != Project.enumStates.AWAITINGVALIDATION
				 && project.currentState != Project.enumStates.REFUSED) {
					<li>
						<a href="/projects/view/@project.id">@project.name</a>
					</li>
				}
			}
		</ul>
	}
	
	@if(! user.projectsContributed.isEmpty()) {
		<h3>Les projets auxquels il participe :</h3>
		<ul class="inline">
			@for(project <- user.projectsContributed) {
				@if(project.currentState != Project.enumStates.AWAITINGVALIDATION
				 && project.currentState != Project.enumStates.REFUSED) {
					<li>
						<a href="/projects/view/@project.id">@project.name</a>
					</li>
				}
			}
		</ul>
	}
	
	@if(! user.rewards.isEmpty()) {
		<h3>Les projets qu'il récompense :</h3>
		<ul class="inline">
			@for(reward <- user.rewards) {
				@if(reward.project.currentState != Project.enumStates.AWAITINGVALIDATION
				 && reward.project.currentState != Project.enumStates.REFUSED) {
					<li>
						<a href="/projects/view/@reward.project.id">@reward.project.name</a>
					</li>
				}
			}
		</ul>
	}
	
	@if(! user.projectsResurrected.isEmpty()) {
		<h3>Les projets dont il est responsable (qu'il a ressuscités) :</h3>
		<ul class="inline">
			@for(project <- user.projectsResurrected) {
				@if(project.currentState != Project.enumStates.AWAITINGVALIDATION
				 && project.currentState != Project.enumStates.REFUSED) {
					<li>
						<a href="/projects/view/@project.id">@project.name</a>
					</li>
				}
			}
		</ul>
	}
}
